<div
  class="bg-gradient-to-r from-semi-pink-gray to-semi-blue-gray h-screen w-full flex flex-col items-center gap-10 pt-7"
>
  <h1 class="text-ligh-pink text-[125px] sm:text-7xl">Just do It.</h1>
  <app-todo-input
    class="w-full flex flex-col items-center gap-5"
    (emitTodo)="emitTodo($event)"
  ></app-todo-input>

  <ul class="w-full flex flex-col gap-6 items-center justify-center">
    <app-todo-row
      class="max-w-full"
      *ngFor="let item of todoList; let id = index"
      [todoId]="id"
      [todoObj]="item"
      (deleteTodoEmit)="deleteTodo($event)"
    ></app-todo-row>
  </ul>
</div>
